.flex-table-controls-wrapper {
    display: flex;
    flex-direction: row;
}

.flex-table-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.flex-table-control-container {
    display: flex;
    flex-direction: row;
    flex: 3;
    padding: 4px;
    padding-left: 0px;
    gap: 18px;
}

.flex-table-control-container > * {
    flex: 1;
}

.flex-select-filter {
    flex: 2;
}

.flex-table-control-container .ant-input {
    background-color: #f2f2f2;
}

.flex-table-control-container .ant-input-group-addon {
    background-color: #303f49;
    color: #fefefe;
}

.flex-table-control-filter {
    display: flex;
    gap: 8px;
    align-items: center;
}

.flex-table-control-filter .ant-select-selector {
    background-color: #f2f2f2 !important;
}

.flex-table-action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.flex-table-control-filter .ant-select {
    flex: 1;
}

.lfx-table .ant-table-thead > tr > th {
    color: #ffffff;
    background-color: #303f49;
    border-right: 0;
}

.flex-table-control-filter-popover {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #972d47;
    font-weight: bold;
}

.flex-table-control-filter-popover .ant-typography {
    color: #972d47;
    font-weight: bold;
}

.flex-table-control-popover-overlay {
    width: 350px;
}

.flex-table-control-popover-overlay .ant-checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.flex-table-control-popover-overlay .ant-checkbox-wrapper {
    margin-inline-start: 0px !important;
}

.lfx-table .ant-table-thead .ant-table-column-sort {
    background-color: #303f49 !important;
}

.lfx-table .ant-table-thead .ant-table-cell:hover {
    background-color: #303f49 !important;
}

.lfx-table .ant-table-column-sorter,
.lfx-table .ant-table-column-sorter:hover {
    color: white !important;
}

.lfx-table .ant-table-tbody > tr:not(:first-child):nth-child(odd) > td {
    background-color: #eff4f8;
}

.lfx-table .ant-checkbox-inner,
.lfx-table .ant-checkbox-inner:hover {
    background: #939393 !important;
    border-color: #939393 !important;
}

.lfx-table .ant-checkbox-inner::after {
    background: #939393 !important;
}

.lfx-table .ant-table-thead .ant-table-cell {
    border-start-start-radius: 0px !important;
    border-start-end-radius: 0px !important;
}

.lfx-table .ant-table-thead .ant-table-cell::before {
    display: none;
}

.lfx-table .ant-table-cell {
    min-width: 200px;
}

.lfx-table .ant-table-selection-column {
    min-width: 75px;
}

.lfx-table {
    min-height: 400px;
}

.ant-table thead th {
    border-right: none;
}

.flex-table-form {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.flex-table-form .ant-form-item-label {
    width: 30%;
}

.flex-table-form-btn-submit {
    width: 30%;
    justify-content: center;
    align-self: flex-end;
}

.lfx-table-checkbox-group {
    display: flex;
    flex-direction: column;
    padding: 8px;
    padding-top: 4px;
    gap: 4px;
}

.lfx-table-checkbox {
    margin-inline-start: 0px !important;
    padding-left: 16px;
}

.lfx-table-checkbox-group .ant-checkbox-wrapper {
    margin-inline-start: 0px !important;
    padding-left: 8px;
}

.flex-table-control-filter-select {
    max-width: 250px;
}

.upload-table-form-item .ant-checkbox-inner::after {
    top: -25%;
    left: 12.5%;
}
